<h2>Welcome to your list, <%= @user.username %>!</h2>

<% @user.movies.each do |movie| %>
<ul>
  <li><a href="/movies/<%= movie.id %>"><%= movie.title %><br><%= movie.release_date %></a></li>
</ul>
<% end %>

<a href="/movies/new"><input type="button" value="Add to your list"></a>

<a href="/logout"><input type="button" value="Log Out"></a>
