<h1><%= @movie.title %></h1>
<h1><%= @movie.release_date %></h1>

<a href="/movies/<%= @movie.id %>/edit"><button>Edit Movie</button></a>

<form class="" method="POST" action="/movies/<%= @movie.id %>/delete">

  <input type="hidden" name="_method" value="delete" >
<br>
  <input type="submit" value="Delete Movie">
</form>
<a href="/movies"><button>Back to List</button></a>
