<h1>Title: <%= @movie.title %></h1>
<p>Release Date:<%= @movie.release_date %></p>

<% if authorized_to_edit?(@movie) %>

<a href="/movies/<%= @movie.id %>/edit"><button>Edit Movie</button></a>
<form class="" method="POST" action="/movies/<%= @movie.id %>">
<input type="hidden" name="_method" value="delete" >
<br>
<input type="submit" value="Delete Movie">
</form>
<% end %>
<br>
<a href="/movies"><button>Back to List</button></a>
