<h1>Welcome to your list, <%= @user.username %>!</h1>

<% @movies.each do |tweet| %>
	<li><a href="/movies/<%= movie.id %>"><%= movie.content %></a></li>
<% end %>


<a href="/movies/new">Add to your list</a>
