<h2> New Movie </h2>

<p><%= @movie.title %></p>

<a href="/movies/<%= @movie.id %>/edit"><button>Edit Movie</button></a>
<form method="POST" action="/movies/<%= @movie.id %>/delete">

  <input type="hidden" id="hidden" name="_method" value="delete" >
<br>
  <input type="submit" value="Delete Movie" id="submit">
</form>
<a href="/movies"><button>Back to List</button></a>
