<h1>Add a new movie:</h1>
<form action='/movies' method="POST">

<label for="Movie Title">Movie Title:</label></br>
<input type="text" name="Movie Title"></br>

<label for="Release Date">Release Date:</label></br>
<input type="text" name="Release Date"></br>

<label for="Genre">Genre:</label></br>
<input type="text" name="Genre"></br>

<label for="Director">Director:</label></br>
<input type="text" name="Director"></br>

<label for="Description">Description:</label></br>
<input type="text" name="Description"><br><br>

<input type="submit" value="submit">


</form>
