<h1>Add a new movie:</h1>
<form action='/movies' method="POST">

<label for="movie title">Movie Title:</label></br>
<input type="text" name="movie title"></br>

<label for="release date">Release Date:</label></br>
<input type="text" name="release date"></br>

<input type="submit" value="submit">

</form>
