<h1>Add a new movie:</h1>
<form action="/movies" method="POST">

<label for="movie title">Movie Title:</label>
<input type="text" name="movie title" value="">
<br>
<br>
<label for="release date">Release Date:</label>
<input type="text" name="release date" value="">
<br>
<br>
<input type="submit" value="submit">

</form>
