<h1>Welcome, <%= @user.username %>!</h1>

<h2>Email: <%= @user.email %></h3>


  <a href="/movies"><input type="button" value="See your list"></a>

  <a href="/logout"><input type="button" value="Log Out"></a>
