<h2>Welcome to your list, <%= @user.username %>!</h2>

<a href="/movies/new"><input type="button" value="Add to your list"></a>
<a href="/movies/edit"><input type="button" value="Edit your list"></a>
<a href="/logout"><input type="button" value="Log Out"></a>
