<h1>Welcome to your list</h1>

<% Movie.all.each do |movie| %>
	<li>
	<h1><%= movie.title %></h1>
</li>
<% end %>
<br><br>

<a href="/movies/new"><input type="button" value="Add to your list"></a>
<a href="/movies/edit"><input type="button" value="Edit your list"></a>
<a href="/logout"><input type="button" value="Log Out"></a>
